* {
    font-family: 'Open Sans';
}
body {
	background-color: #FFFFFF;
    padding: 0;
    margin: 50px;
}

#page {
    margin: 0;
    padding: 0;
}

.thumbnail {
float: right;
width: 250px;
margin: 0 1px 40px 0px;
}

.clearboth { clear: both; }
